commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/06-redis-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        printf '\n\n06 Redis Configuration\n\n'
        sed -i 's/session.save_path\ =\ \"\/tmp\"/session.save_handler\ =\ redis\nsession.save_path\ =\ \"tcp:\/\/<<REDIS IP HERE>>:6379\"/' php.ini
