commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/08-apache-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        printf '\n\n08 Apache Configuration\n\n'
        cat > /etc/httpd/conf.d/openemr.conf <<EOL
        <Directory "/var/app/current/openemr">
          AllowOverride FileInfo
        </Directory>
        <Directory "/var/app/current/openemr/sites">
          AllowOverride None
        </Directory>
        <Directory "/var/app/current/openemr/sites/*/documents">
          order deny,allow
          Deny from all
        </Directory>
        <Directory "/var/app/current/openemr/sites/*/edi">
          order deny,allow
          Deny from all
        </Directory>
        <Directory "/var/app/current/openemr/sites/*/era">
          order deny,allow
          Deny from all
        </Directory>
        EOL

        service httpd restart

        touch /root/openemr_installed.lock
