commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/09-post-install-file-permission-updates.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ grep -xq "$config = 0;" /var/app/current/openemr/sites/default/sqlconf.php ];
          then exit 0
        fi

        printf '\n\n09 Post Install File Permission Updates\n\n'
        chmod 644 /var/app/current/openemr/library/sqlconf.php
        chmod 600 /var/app/current/openemr/acl_setup.php
        chmod 600 /var/app/current/openemr/setup.php
        chmod 600 /var/app/current/openemr/sql_upgrade.php
        chmod 600 /var/app/current/openemr/sql_patch.php
        chmod 600 /var/app/current/openemr/gacl/setup.php
        chmod 600 /var/app/current/openemr/ippf_upgrade.php
