option_settings:
  aws:elasticbeanstalk:application:environment:
    # TIMEZONE: "<<enter timezone here>>"
    TIMEZONE: "America\\/New_York"
    
    # REDIS_IP: "<<enter redis IP here>>"
    REDIS_IP: "xxx.xxx.xxx.xxx"
    
    # FILE_SYSTEM_ID: "<<enter EFS file system ID here>>"
    FILE_SYSTEM_ID: "fs-xxxxxxxx"
